.weather-anchor {
    flex: 1;
    flex-grow: 1;
    padding: 15px;
}

.anime-gif-container {
    position: relative;
 }

.anime-gif {
    width: 200px;
    height: 150px;
}

.tv-overlay {
    width: 200px;
    height: 150px;
    position: absolute;
    z-index: 1;
}