.weather-anchor {
    flex: 1;
    flex-grow: 1;
    padding: 15px;
    margin: 30px;
}

.anime-gif-container {
    position: relative;
 }

.anime-gif {
    width: 200px;
    height: 150px;
}

.tv-overlay {
    left: -20px;
    top: -20px;
    width: 240px;
    height: 200px;
    position: absolute;
    z-index: 1;
}