.forecast-info {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 700px;
  height: 140px;
  
}

.forecast-info .forecast-item {
  flex: 0 0 auto;
  background-color: #ffffff7d;
  border-radius: 5px;
  box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
  text-align: center;
  margin: 5px;
  width: 135px;
  height: 130px;
}

.forecast-item > h4 {
  margin: 0;
}