.weather-info {
  background-color: #ffffff7d;
  border-radius: 12px;
  padding: 2rem;
  top: 50%;
  left: 50%;
  flex: 2;
  box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
  background-blend-mode: overlay;
  text-align: center;
}

.additional-weather-info {
  display: flex;
  align-items: center;
}

.additional-info-item {
  flex: 1;
  width: 0;
}