.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Verdana;
  background-image: linear-gradient(25deg, #000876, #2cc5d0);
}
body {
  padding: 0;
  margin: 0;
}

.middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 700px;
}

.current-weather {
  display: flex;
  align-items: center;
  flex-direction: row;
  min-width: 600px;
}

.right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  min-height: 400px;
  margin: 20px;
}

.searched-city-name > h1 {
  font-size: 35px;
  line-height: 1;
}
