@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(45deg, #000876, #2cc5d0);
}
body {
  padding: 0;
  margin: 0;
}

.div {
height: 50vh;
background: linear-gradient(to right, #c7c7eb, #ccf2dd);
}
.container {
background-color: #ffffff7d;
border-radius: 12px;
padding: 2rem;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
box-sizing: border-box;
color: rgba(0, 0, 0, 0.8);
background-blend-mode: overlay;
justify-content: space-between;
align-items: center;
flex-direction: column;
position: absolute;
}



.weatherArea {
display: flex;
align-items: center;
flex-direction: column;
}

.icon {
font-size: 5rem;
}


h1 {
font-size: 3rem;
font-family: "Bebas Neue", sans-serif;
}

h2 {
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.bottomInfoArea {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(
  90deg,
  rgba(243, 255, 253, 1) 0%,
  rgba(253, 255, 232, 1) 100%
    );
  border-radius: 12px;
padding: 10px;
}

.humidityLevel, .wind {
display: flex;
align-items: center;
margin: 0 20px;


  .humidIcon {
  font-size: 3rem;
  }
}


.windIcon {
font-size: 2rem;
margin-right: 10px;
}

