@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(45deg, #000876, #2cc5d0);
}
body {
  padding: 0;
  margin: 0;
}

.middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-weather {
  display: flex;
  align-items: center;
  flex-direction: row;
  min-width: 500px;
}

/* .searched-location {
display: flex;
align-items: center;
flex-direction: column;
}

.icon {
font-size: 5rem;
} */

